<!DOCTYPE html>
<html lang="es-CL">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mis Perris</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg" id="top">
    <div id="logo">
      <a class="navbar-brand">
        <img src="static/img/logo.png">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Quienes somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contactenos</a>
        </li>
      </ul>

      {% if user.is_authenticated %}
      <form class="form-inline ">
        <div class="d-flex justify-content-end separacion">
          <input class="btn btn-outline-light " type="button" onclick="location.href='registroPerro';" value="Registro de perros" />
        </div>
      </form>
      <div class="dropdown">
        <a class="d-flex justify-content-end" href="#" id="navbarDropdownMenuLink" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Bienvenid@ {{user}} 
          <div class="dropdown-menu dropdown-user-style" aria-labelledby="navbarDropdownMenuLink">
            <a class="nav-link dropdown-item" href="{% url 'cerrar_sesion' %}">Cerrar sesión</a>
          </div>
      </div>
      {% else %}
      <form class="form-inline ">
        <div class="d-flex justify-content-end separacion">
          <input class="btn btn-outline-light " type="button" onclick="location.href='registro';" value="Registro" />
        </div>
        <div class="d-flex justify-content-end">
          <input class="btn btn-outline-light" type="button" onclick="location.href='login';" value="Iniciar sesion" />
        </div>
      </form>

      {% endif %}


    </div>
  </nav>


  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 img-size" src="static/img/adoptados/Apolo.jpg" alt="First slide">
        <div class="carousel-caption ">
          <p>Apolo sale con nosotros cada vez que vamos al parque. Es jugueton y leal</p>
        </div>

      </div>
      <div class="carousel-item ">
        <img class="d-block w-100 img-size" src="static/img/adoptados/Duque.jpg" alt="Second slide">
        <div class="container-fluid">

          <div class="carousel-caption">
            <p>Duque me acompaña en los momentos más extremos</p>
          </div>
        </div>

      </div>
      <div class="carousel-item">
        <img class="d-block w-100 img-size" src="static/img/adoptados/Tom.jpg" alt="Third slide">

        <div class="carousel-caption">
          <p>Estamos felices de tener a Tom en casa. Es un fiel compañero</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="background-color: #89D9BC">
    <div class="iconos">
      <img class="social" src="static/img/iconos/iconmonstr-facebook-4-240.png" alt="">
      <img class="social" src="static/img/iconos/iconmonstr-google-plus-4-32.png" alt="">
      <img class="social" src="static/img/iconos/iconmonstr-instagram-14-32.png" alt="">
      <img class="social" src="static/img/iconos/iconmonstr-email-10-32.png" alt="">
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 " style="margin-bottom: 30px;">
        <div id="main-font-right">
          <p>RESCATE</p>
        </div>
        <div id="derecha">
          <p>ETAPA UNO</p>
        </div>
        <div id="guion-derecha">
          <p>_______</p>
        </div>
        <div id="texto-rescate">
          <h6>Rescatamos perros en situación de peligro y/o abandono. Los rehabilitamos y los preparamos para buscarles
            un hogar</h6>
        </div>
        <div>
          <img style="float:right;" src="static/img/rescate.jpg" alt="rescate" width="200">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="margin-bottom: 30px;">
        <div id="crowfunding">
          <img style="margin-top: 13px; " src="static/img/crowfunding.jpg" alt="crowfunding" width="200">
        </div>
        <div id="main-font-left">
          <p>CROWDFUNDING</p>
        </div>
        <div id="izquierda">
          <p>FINANCIAMIENTO</p>
        </div>
        <div id="guion-izquierda">
          <p>_______</p>
        </div>
        <div>
          <h6>Sigue nuestras redes sociales para informarte acerca de las diversas campañas y actividades que
            realizamos para
            obtener financiamiento para seguir ayudando</h6>
        </div>
        <button type="button" class="btn btn-outline-dark">CAMPAÑAS</button>
      </div>
    </div>
  </div>
  </div>

  <div class="container-fluid container-galery">
    <div class="row" id="form">
      <div class="col-md-4">
        <img class="center-crop" src="static/img/rescatados/Bigotes.jpg" alt="">
      </div>
      <div class="col-md-4">
        <img class="center-crop" src="static/img/rescatados/Chocolate.jpg" alt="">
      </div>
      <div class="col-md-4">
        <img class="center-crop" src="static/img/rescatados/Luna.jpg" alt="">
      </div>
    </div>
    <div class="row" id="form">
      <div class="col-md-6">
        <img class="center-crop" src="static/img/rescatados/Maya.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img class="center-crop" src="static/img/rescatados/Oso.jpg" alt="">
      </div>
    </div>
    <div class="row" id="form">
      <div class="col-md-6">
        <img class="center-crop" src="static/img/rescatados/Pexel.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img class="center-crop" src="static/img/rescatados/Wifi.jpg" alt="">
      </div>
    </div>
  </div>
  <footer id="credits">
    <p>Desarrollo Web y Mobile</p>
  </footer>

  <script src="{% static '/js/jquery-3.3.1.js' %}"></script>
  <script src="{% static '/js/jquery.validate.js' %}"></script>
  <script src="{% static '/js/additional-methods.js' %}"></script>
  <script src="{% static '/js/jquery.rut.js' %}"></script>
  <script src="{% static '/js/popper.js' %}"></script>
  <script src="{% static '/js/bootstrap.js' %}"></script>
  <script src="{% static '/js/app.js' %}"></script>
</body>

</html>