<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Inicio de sesión</title>
    {% load static %}
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">


</head>

<body class="text-center" style="background-color: 	#89D9BC">
    <form method="POST" class="form-signin" id="login" action="{% url 'login_iniciar' %}">
        {% csrf_token %}
            <img src="{% static 'img/logo.png' %}">
        <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h1>
        <label for="username" class="sr-only">usuario</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Ingrese Usuario"
            required autofocus>
        <label for="password" class="sr-only">Contraseña</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Ingrese contraseña"
            required>
        <div class="checkbox mb-3">

        </div>
        <button class="btn btn-lg btn-primary btn-block btn-outline-dark p" type="submit">Iniciar Sesión</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2018</p>
    </form>

    <script src="{% static '/js/jquery-3.3.1.js' %}"></script>
    <script src="{% static '/js/jquery.validate.js' %}"></script>
    <script src="{% static '/js/additional-methods.js' %}"></script>
    <script src="{% static '/js/jquery.rut.js' %}"></script>
    <script src="{% static '/js/popper.js' %}"></script>
    <script src="{% static '/js/bootstrap.js' %}"></script>
    <script src="{% static '/js/login.js' %}"></script>
</body>

</html>