<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mis Perris</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css">
</head>

<body style="background-color: 	#6DCCAA">
    <nav class="navbar navbar-expand-lg navbar-light bg" id="top">
        <div id="logo" href="index.html">
            <a class="navbar-brand">
                <img src="{% static 'img/logo.png' %}">
            </a>
        </div>
    </nav>
    <div class="container-fluid " id="form">
        <form id="formulario" method="POST" action="{% url "crear" %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="Correo">Correo electronico : </label>
                        <input type="email" name="correo" id="correo" class="form-control" placeholder=" usuario@misperris.cl "
                            required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="username">Usuario : </label>
                        <input type="text" name="username" id="username" class="form-control" placeholder=" Ingrese Usuario "
                            required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="password">Contraseña:</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Ingrese Contraseña"
                            required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="Rut">Run : </label>
                        <input type="text" name="rut" id="rut" class="form-control" placeholder="9999999-9" required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="Nombre">Nombre:</label>
                        <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Ingrese Nombre"
                            required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="Apellido">Apellido:</label>
                        <input type="text" name="apellido" id="apellido" class="form-control" placeholder="Ingrese apellido"
                            required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="fecNacimiento">Fecha de Nacimiento : </label>
                        <input type="date" name="fechNacimiento" class="form-control" id="" required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="telefono">Telefono de Contacto :</label>
                        <input type="number" name="telefono" class="form-control" id="" required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="vivienda">Tipo de Vivienda :</label>
                        <select name="vivienda" id="" class="form-control">
                            <option hidden>Seleccione Vivienda</option>
                            <option value="1">Casa con patio grande</option>
                            <option value="2">Casa con patio pequeño</option>
                            <option value="3">Casa sin patio</option>
                            <option value="4">Departamento</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="region">Region :</label>
                        <select name="region" class="form-control" id="region">
                            <option hidden>Seleccione Regíon</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="comuna">Comuna :</label>
                        <select class="form-control" name="comuna" id="comuna">
                            <option hidden>Seleccione Comuna</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <button class="btn btn-outline-success btn-block" type="reset">Limpiar</button>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <input type="submit" class="btn btn-outline-success btn-block " value="Guardar">
                </div>
            </div>
        </form>
    </div>
    <script src="{% static '/js/jquery-3.3.1.js' %}"></script>
    <script src="{% static '/js/jquery.validate.js' %}"></script>
    <script src="{% static '/js/additional-methods.js' %}"></script>
    <script src="{% static '/js/jquery.rut.js' %}"></script>
    <script src="{% static '/js/popper.js' %}"></script>
    <script src="{% static '/js/bootstrap.js' %}"></script>
    <script src="{% static '/js/app.js' %}"></script>
</body>

</html>