<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mis Perris</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css">
</head>

<body style="background-color: 	#6DCCAA">

    <nav class="navbar navbar-expand-lg navbar-light bg" id="top">
        <div id="logo" href="index.html">
            <a class="navbar-brand">
                <img src="{% static 'img/logo.png' %}">
            </a>
        </div>
    </nav>

    <div class="container-fluid " id="form">
        <form id="formulario" method="POST" action="{% url "crearPerro" %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="NombrePerro">Nombre del perro : </label>
                        <input type="text" name="nombrePerro" id="nombrePerro" class="form-control" placeholder=" Ingrese Nombre del perro "
                            required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="Raza">Raza del perro:</label>
                        <input type="text" name="raza" id="raza" class="form-control" placeholder="Ingrese raza del perro"
                            required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="Descripcion">Descripcion : </label>
                        <input type="text" name="descripcion" id="descripcion" class="form-control" placeholder="Ingrese una breve descripcion"
                            required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="estado">Estado del adopcion :</label>
                        <select name="estado" class="form-control" id="estadoregion">
                            <option hidden>Seleccione estado de adopcion</option>
                            <option value="1">Rescatado </option>
                            <option value="2">Disponible </option>
                            <option value="3">Adoptado </option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="imagen">Foto del perro:</label>
                        <input type="file" name="imagen" class="form-control" placeholder="Cargue foto del perro">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <button class="btn btn-outline-success btn-block" type="reset">Limpiar</button>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <input type="submit" class="btn btn-outline-success btn-block " value="Guardar">
                </div>
            </div>

        </form>
    </div>
    <script src="{% static '/js/jquery-3.3.1.js' %}"></script>
    <script src="{% static '/js/jquery.validate.js' %}"></script>
    <script src="{% static '/js/additional-methods.js' %}"></script>
    <script src="{% static '/js/jquery.rut.js' %}"></script>
    <script src="{% static '/js/popper.js' %}"></script>
    <script src="{% static '/js/bootstrap.js' %}"></script>
    <script src="{% static '/js/app.js' %}"></script>
</body>

<html>